{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row p-3">
        <div id="train">
            <h3>Train</h3>
            <form id="form-train" class="m-0" onsubmit="event.preventDefault(); trainRequest();">
                {% csrf_token %}
                <div class="form-input">
                    <label for="id_seed">Seed:</label>
                    <input type="text" name="seed" autofocus="" autocapitalize="none" maxlength="32" required id="id_seed" value="1">
                    <label for="id_timesteps">Timesteps:</label>
                    <input type="text" name="timesteps" autofocus="" autocapitalize="none" maxlength="32" required id="id_timesteps" value="50">
                    <label for="id_hidden_layer">Hidden Layer:</label>
                    <input type="text" name="hidden_layer" autofocus="" autocapitalize="none" maxlength="32" required id="id_hidden_layer" value="128">
                    <label for="id_max_iteraions">Max Iteraions:</label>
                    <input type="text" name="max_iteraions" autofocus="" autocapitalize="none" maxlength="32" required id="id_max_iteraions" value="150">
                    <label for="id_learning_rate">Learning Rate:</label>
                    <input type="text" name="learning_rate" autofocus="" autocapitalize="none" maxlength="32" required id="id_learning_rate" value="0.001">
                </div>
                <button class="btn btn-secondary mt-3">Train</button>
            </form>
            <pre id="train_response" style="margin: 1rem 0 0 0;"></pre>
        </div>
        <script>
            function trainRequest() {
                document.querySelector("#train_response").innerHTML = 'Запрос обрабтывается...'

                let form = document.querySelector('#form-train');
                let formData = new FormData(form);

                var data = {};
                for (var [key, value] of formData.entries()) { 
                    data[key] = value;
                }
                var csrf_token = data["csrfmiddlewaretoken"];
                data = JSON.stringify(data);

                var xhr = new XMLHttpRequest();
                var url = '/api/regression/snntorch/train/';
                xhr.open("POST", url, true);
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
                xhr.send(data);
            
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        if (xhr.status === 200) {
                            document.querySelector("#train_response").innerHTML = JSON.stringify(JSON.parse(xhr.responseText), undefined, 2);
                            document.querySelector("#train_response").outerHTML += `<img src="data:image/png;base64, ${JSON.parse(xhr.responseText).untrained_model_jpg_bytes}" style="width: 100%;"><img src="data:image/png;base64, ${JSON.parse(xhr.responseText).trained_model_jpg_bytes}" style="width: 100%;">`
                        } else {
                            document.querySelector("#train_response").innerHTML = `Ошибка запроса: ${xhr.status}`;
                        }
                    }
                };
            }
        </script>
    </div>
    <div class="row p-3">
        <div id="predict">
            <h3>Predict</h3>
            <form id="form-predict" class="m-0" onsubmit="event.preventDefault(); predictRequest();">
                {% csrf_token %}
                <div class="form-input">
                    <label for="id_features">Feature:</label>
                    <input type="text" name="features" autofocus="" autocapitalize="none" maxlength="32" required id="id_features" value="0.10, 0.11, 0.12">
                </div>
                <button class="btn btn-secondary mt-3">Predict</button>
            </form>
            <pre id="predict_response" style="margin: 1rem 0 0 0;"></pre>
        </div>
        <script>
            function predictRequest() {
                document.querySelector("#predict_response").innerHTML = 'Запрос обрабтывается...'

                let form = document.querySelector('#form-predict');
                let formData = new FormData(form);

                var data = {};
                for (var [key, value] of formData.entries()) { 
                    data[key] = value;
                }
                var csrf_token = data["csrfmiddlewaretoken"];
                data['features'] = data['features'].replace(/ /g,"").split(",").map(parseFloat);
                data = JSON.stringify(data);

                var xhr = new XMLHttpRequest();
                var url = '/api/regression/snntorch/predict/';
                xhr.open("POST", url, true);
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
                xhr.send(data);
            
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        if (xhr.status === 200) {
                            document.querySelector("#predict_response").innerHTML = JSON.stringify(JSON.parse(xhr.responseText), undefined, 2);
                            document.querySelector("#predict_response").outerHTML += `<img src="data:image/png;base64, ${JSON.parse(xhr.responseText).model_prediction_jpg_bytes}" style="width: 100%;">`
                        } else {
                            document.querySelector("#predict_response").innerHTML = `Ошибка запроса: ${xhr.status}`;
                        }
                    }
                };
            }
        </script>
    </div>
    <div class="row p-3">
        <div id="dataset">
            <h3>Dataset</h3>
            <button class="btn btn-secondary mt-3" onclick="datasetRequest()">Load</button>
            <pre id="dataset_response" style="margin: 1rem 0 0 0;"></pre>
        </div>
        <script>
            function datasetRequest() {
                document.querySelector("#dataset_response").innerHTML = 'Запрос обрабтывается...'

                var xhr = new XMLHttpRequest();
                var url = '/api/regression/snntorch/dataset/';
                xhr.open("GET", url, true);
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.send();
            
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        if (xhr.status === 200) {
                            document.querySelector("#dataset_response").innerHTML = JSON.stringify(JSON.parse(xhr.responseText), undefined, 2);
                            document.querySelector("#dataset_response").outerHTML += `<img src="data:image/png;base64, ${JSON.parse(xhr.responseText).target_function_jpg_bytes}" style="width: 100%;">`
                        } else {
                            document.querySelector("#dataset_response").innerHTML = `Ошибка запроса: ${xhr.status}`;
                        }
                    }
                };
            }
        </script>
    </div>
</div>
{% endblock content %}