{% extends 'base.html' %}

{% block content %}
    <div style="margin-top: 1%">
        <div class="container-fluid">
            <div class="row align-items-start">
                <div class="col">
                    <div class="bg-image card shadow-1-strong"
                         style="background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(106,68,76,1) 100%);">
                        <div class="card-body text-white">
                            <h1>Блог о машинном обучении</h1>
                            <h3>Страница о блоге</h3>
                            <img src="https://palchevsky.ru/images/lenivets.jpeg" alt="Ленивец" width="60%"
                                 height="60%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}