{% extends 'base.html' %}

{% block content %}
    <div class="row mb-2">
    {% for post in object_list %}
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">{{ post.category }}</strong>
                    <h3 class="mb-1">{{ post.title }}</h3>
                    <div class="mb-2 text-muted">{{ post.created_at }}</div>
                    <p class="card-text mb-auto">{{ post.body }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock content %}