/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
    margin-top: 40px;
}

.blog-header-logo {
    /* font-size: 2.25rem; */
    text-decoration: none;
}

.blog-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.blog-body {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 7;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}

.display-4 {
    font-size: 2.5rem;
}
@media (min-width: 768px) {
    .display-4 {
    font-size: 3rem;
    }
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
}

.card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
}

.flex-auto {
    flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
    .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
    margin-bottom: 4rem;
}
.blog-pagination > .btn {
    border-radius: 2rem;
}

/*
* Blog posts
*/
.blog-post {
    margin-bottom: 4rem;
}
.blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
}
.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #727272;
}

/*
* Footer
*/
.blog-footer {
    position: absolute;
    width: 100vw;
    left: 0;
    color: #727272;
    text-align: center;
    border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
    margin-bottom: 0;
}

@charset "UTF-8";
@font-face{font-family:TimesDigitalW04-Regular;src:url(/static/core/fonts/TimesDigitalW04-Regular.woff2) format("woff2");font-weight:400;font-style:normal;font-display:swap}
@font-face{font-family:TimesDigitalW04-Regular-fallback;font-display:swap;font-style:normal;font-weight:400;src:local("Times New Roman");ascent-override:87.46%;descent-override:28.13%;line-gap-override:0;size-adjust:113.42%}
@font-face{font-family:TimesModern-Bold;src:url(/static/core/fonts/TimesModern-Bold.woff2) format("woff2");font-weight:400;font-style:normal;font-display:swap}
@font-face{font-family:TimesModern-Bold-fallback;font-display:swap;font-style:normal;font-weight:700;src:local("Times New Roman Bold");ascent-override:73.8%;descent-override:18.26%;line-gap-override:6.9%;size-adjust:94.18%}
@font-face{font-family:TimesModern-Regular;src:url(/static/core/fonts/TimesModern-Regular.woff2) format("woff2");font-weight:400;font-style:normal;font-display:swap}
@font-face{font-family:TimesModern-Regular-fallback;font-display:swap;font-style:normal;font-weight:400;src:local("Times New Roman");ascent-override:71.84%;descent-override:17.78%;line-gap-override:6.72%;size-adjust:96.74%}
:root {
    --bs-primary-rgb: 21, 115, 162;
    --bs-secondary-rgb: 78, 77, 85;
    --bs-link-color: #1573a2;
    --bs-link-hover-color: #0c5478;
}
.navbar-dark {
    --bs-navbar-hover-color: #ffffff;
    --bs-navbar-disabled-color: #ffffff;
}
html {
    background-color: #f5efeb;
}
body {
    width: fit-content;
    background: white;
    border-left: 1px solid rgba(219,219,219,.5);
    border-right: 1px solid rgba(219,219,219,.5);
    font-family: TimesModern-Regular,TimesModern-Regular-fallback,serif;
    position: static !important;
    top: 0 !important;
}
.skiptranslate > iframe {
    top: auto!important;
    bottom: 0!important;
}
.body-width {
    max-width: 1140px;
    width: 100vw;
    margin: auto;
}
h1, h2, h3, h4, h5, h6, .h-bold {
    font-family: TimesModern-Bold,TimesModern-Bold-fallback,serif;
}
textarea:focus, input:focus{
    outline: none;
}
a {
    text-decoration: none !important;
}
.nav-bg-gray75, .nav-link.active {
    background: rgb(var(--bs-secondary-rgb));
}
time.title {
    letter-spacing: 1.2px;
}
.h-title {
    font-size: 64px;
    line-height: 78px;
}
.text-justify {
    text-align: justify;
}
.text-gray50 {
    color: #333 !important;
}
.text-white-imp {
    color: #ffffff !important;
}
.nav-flat {
    border: 0;
    height: 40px;
    line-height: 40px;
    background: transparent;
}
.nav-item a {
    color: #ffffff;
}
.nav-item:hover {
    background: #ffffff;
}
.nav-item:not(.nav-focus):hover a:not(.active) {
    color: var(--bs-body-color);
}
.nav-focus {
    background: var(--bs-link-color);
}
.nav-focus:hover {
    background: var(--bs-link-hover-color);
}
.nav-search {
    width: 100px;
}
.placeholder-white::placeholder {
    color: #ffffff;
    opacity: 1;
}
.placeholder-white:-ms-input-placeholder {
    color: #ffffff;
}
.placeholder-white::-ms-input-placeholder {
    color: #ffffff;
}
.h-100-device {
    min-height: 100vh;
}
.bg-dark {
    background: #000;
}
.bg-gray80 {
    background: #3c3f44;
}
.bg-gray90 {
    background: #1A1F24;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
}
.bg-animation {
    background-image: url(/static/blog/title-animation.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.bg-animation-filter {
    backdrop-filter: blur(3px) brightness(0.33);
    -webkit-backdrop-filter: blur(3px) brightness(0.33);
}
.pagination-element {
    padding: 10px;
}
span.seach-highlight {
    background-color: #FF964F;
}
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
}
.overlay-popup {
    width: 100vw !important;
    height: 100vh !important;
    top: 40px !important;
    left: 0px !important;
    position: fixed;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    z-index: 1000000 !important;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.window-popup {
    position: relative;
    margin: auto 0 !important;
    background: white;
    box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.5);
}
.window-popup .close-popup {
    position: absolute;
    top: 0;
    right: 0;
}
.window-popup .form-input{
    display: flex;
    flex-direction: column;
}
#train .form-input, #predict .form-input {
    display: flex;
    flex-direction: column;
}